<section class="flex items-center justify-center w-full h-full" style="text-align: center; margin: auto; font-size: xx-large;">

    <div class="bg-gray-500 p-3 w-ful md:w-2/5 mx-auto h-32 flex flex-col gap-3 justify-center">
        <div>
            <span class="text-white" style="font-size: x-large; padding-top: 5px; ">
              Thanks for your order!
        
            </span>

        </div>
        <div class=" w-full md:w-2/5 mx-auto ">
            <button  mat-raised-button routerLink="/home">Continue Shopping</button>

        </div>

    </div>
  
  
  </section>